/*This selctor aplies to all site. It works as a soft resete of the CSS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body defines everytihng is on users site area*/
body{
  color: rgb(223, 99, 99);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  min-height: 100%;
}

.background {
  background-image: url('../images/laranja0.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  filter: blur(3px);
  position: absolute;
  width: 100%;
  min-height: 72vh;
  -webkit-filter: blur(7px);
}

.foreground {
  backdrop-filter: blur(0.8);
} /* No .wrapper needed! */

header{
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  display: flex;
  height: 72vh;
  justify-content: center;
  width: auto;
}

/*To call an elent whitch has a class, we use "."+<class name>*/
/*All elements of this class is afected by this scope*/
.menu{
  background-color:#aa55ffe7;
  /*border: 2px solid white;*/
  display: grid;
  grid-template-columns:85px 10fr;
  grid-template-rows: 100%;
  font-size: 14px;
  /*left: 0px;*/
  min-height: 50px;
  overflow: hidden;
  position: absolute; /* Set the menu to fixed position */
  top: 80px; /* Position the menu at the top of the page */
  width: 80%;
  /*Defines overlap*/
  z-index: 20;
}

/*This comand changes all the <ul>'s content */
.menu .ulItensMenu{
  background-color: white;
  color: #aa55ff;
  display:inline-flex; /*comand to make the text be horizontaly aligned*/ 
  justify-content:flex-end; /*This comand centralize de spaces between the text, and it only works together with display*/
  
}

.menu .home{
  left:10px;
}

.menu .itensMenu{
  display: flex;
  padding: 20px;
  text-align: right; 
}

/*This comand changes all the <li> inside elemenst which has the class menu, taking off the "." after lists*/
.menu li{
  list-style: none;
}

/*This comand will change the "A" menu icon (on the left)*/
.home a{
  /*color: #dfbeb9; */
  /*color: #277196;*/
  /*color: #00bbd3;cyan claro*/
  background-color:#aa55ff;
  color: white;
  display: block; 
  font-size: 2.5em;
  min-height: 50px;
  text-align: center;
  text-decoration: none; /*This comand take the underline (and other text formats) off the text*/
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
  /*-webkit-text-stroke: 1px #050505  /* width and color */
}

/*This comand will change the right menu topics*/
.itensMenu a{
  /*color: #dfbeb9; */
  /*color: #277196;*/
  /*color: #00bbd3;cyan claro*/

  display: inline; 
  font-family: 'Alegreya', serif;
  font-size: 1.5em;
  font-weight: bolder;
  min-height: 50px;
  text-decoration: none; /*This comand take the underline (and other text formats) off the text*/
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
  
  /*-webkit-text-stroke: 1px #050505  /* width and color */
}

.home a:active,
.home a:hover {
  /*background-color: #00bbd3;*/
  color: black;
}

.itensMenu a:active,
.itensMenu a:hover {
  /*background-color: #00bbd3;*/
  color: #00bbd3;
}

/*Change the title and subtitle*/
.titles{
  align-items: center;
  /*background-color: rgba(139, 139, 139, 0.26);*/
  /*border: 20px none #000000;*/
  display: grid;
  font-family: 'Oswald', sans-serif;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 100%;
  height: initial;
  padding: 15px;
  text-align: center; 
  /*Defines overlap*/
  z-index: 2;
  vertical-align: baseline; 
}

.site-title {
  background-color: #00bbd3;/*#aa55ff;*/  
 /*border between title and sub-title*/
  border: 2.5px solid #00202f;
  color:white;/*#5500ff;*/
  /*color: #00bbd3; cyan*/
  /*color: #01273b;DarkBlue*/
  /*color:#31708f;MediumBlue*/
  /*font-family: 'Tinos', serif;*/
  /*font-family: 'Alegreya', serif;*/
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-style: oblique;
  font-weight: bolder;
  line-height: 50px;
  padding: 15px;
  text-align: right;
  width: 300px;
 /*-webkit-text-stroke: 3px #000000;  /* width and color */
}

.site-subtitle {
  color: black;/*#00bbd3;/*#fcfcfc;*/
  /*font-family: 'Patua One', cursive;*/
  font-size: 2.2em;
  /*font-style: italic;*/
  font-weight: 800;
  height: auto; 
  padding: 15px;
  text-align: left;
  width: 250px;
  /*-webkit-text-stroke: 1.5px #094150; /* width and color */
}

@media (max-width: 800px){
  .site-title{
    font-size: 3em;
  }
}

.hello{
  align-items: center;
  background-color: #aa55ff;/*white;*/
  border: 2px solid #aa55ff;
  display: flex;
  justify-content: center;
  height: 28vh;
  text-align: center;
}

.hello .hello-content{
  display: inline-flex;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 20px;
  vertical-align: center; 
  width: auto;
}

.hello .grid-img{
  text-align: right;
  width: auto;
}

.hello .img-hello{
  border-radius: 50%;
  height: 220px;/*180px;*/
  object-fit: cover;
  padding: 10px;
  text-align: right;
  transition: transform 500ms;
  width: 220px;/*220px;*/
}

.hello .grid-text{
  display: block;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  width: 800px;
  text-align: left;
}

.hello-title{
  color: white;/*#00bbd3;*/
  font-size: 3em;
  margin-bottom: 20px;
}

.hello-about{
  color: #ffff7f;/*#aa00ff;*/
  font-size: 1.5em;
}

.portifolio{
  /*background-color:rgb(223, 99, 99);*/
  background-color:white;/*#00bbd3;*/
  color: #00bbd3;/*white;*/
  font-family: 'Alegreya', serif;
  font-size: 2em;
  margin-bottom: 1em;
  min-height: 45vh;
  padding: 2em;
}

.portifolio h2{
  /*color: #00bbd3;*/
  /*font-family: 'Volkhov', serif;*/
  /*font-family: 'Acme', sans-serif;*/
  font-size: 70px;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 200;
}

.portifolio .grid{
  align-content: center;
  display: grid;
  gap: 2px;
  justify-content: center;
}

.portifolio figure{
  border-radius: 2rem;
  font-size: 1.25em;
  text-align: center;
}

.img-portfolio{
  /*border-radius: 20%;*/
  height: 270px;/*180px;*/
  object-fit: cover;
  width: 400px;/*220px;*/
  transition: transform 500ms;
}

.img-portfolio:hover{
  transform: scale(1.1);
}

.contact{
  background-color: #00bbd3;
  font-size: 1.5em;
  margin-bottom: 1em;
  padding: 2em;
}

.contact h2{
  color: white;
  font-family: 'Alegreya', serif;
  font-size: 100px;
  font-weight: 200;
  text-align: center;
  transition: transform 500ms;
}

.contact h2:hover{
  transform: scale(1.5);
}

.contact a{
  color:black;
  /*display: list-item;*/
  font-size: 1.5em;
  list-style: none;
  /*margin-left: 40px;*/
  transition: text-shadow 1s;
  text-align: center;
  text-decoration: none;
}

.contact .icons{
  text-align: center;
  width:100%;
  justify-content: space-around;
  padding:20px;
}

.contact a:active,
.contact a:hover{
  color:white;
  text-shadow: 0px 0px 20px white;
}

/*It's a condicionalin CSS! In parentesis it1s added the condition. It's called filter. This selector changes the styles of screen's size dow 375px. For mobile development, they are called (screen) "breakpoints"*/
@media (max-width: 800px){
  .contact h2, 
  .portifolio h2{
    font-size: 1.8em;
  }
}

@media(min-width: 376px){
  .contact a{
    font-size: 3.5em;
    grid-template-columns: repeat(3,112px);
    padding: 5px;
  }
}

@media(min-width: 560px){
  .contact a{
    font-size: 2em;
    grid-template-columns: repeat(3,150px);
    padding: 5px;
  }
}

@media(min-width: 670px){
  .contact a{
    grid-template-columns: repeat(3,220px);
  }
}

@media(min-width: 800px){
  .contact a{
    align-content: center;
    grid-template-columns: repeat(3,220px);
    justify-content: space-around;
  }
}

/*It's a condicionalin CSS! In parentesis it1s added the condition. It's called filter. This selector changes the styles of screen's size dow 375px. For mobile development, they are called (screen) "breakpoints"*/
@media(min-width: 376px){
  .portifolio .grid{
    grid-template-columns: repeat(2,150px);
  }
}

@media(min-width: 560px){
  .portifolio .grid{
    grid-template-columns: repeat(3,150px);
  }
}

@media(min-width: 670px){
  .portifolio .grid{
    grid-template-columns: repeat(3,220px);
  }
}

@media(min-width: 800px){
  .portifolio .grid{
    align-content: center;
    grid-template-columns: repeat(3,450px);
    justify-content: space-around;
  }
}

@media(min-width: 376px){
  .img-portfolio{
    height: 117px;
    width: 143px;
}

@media(min-width: 560px){
  .img-portfolio{
    height: 117px;
    width: 143px;
}

@media(min-width: 800px){
  .img-portfolio{
    height: 180px; /*180px;*/
    width: 220px;/*220px;*/
    object-fit: cover;
    justify-content: space-around;
}

@media(min-width: 1500px){
  .img-portfolio{
    height: 320px; /*180px;*/
    width: 450px;/*220px;*/
    justify-content: space-around;
}